# Iris Dataset
This notebook contains my analysis of the famous Iris dataset.

![Iris dataset](https://miro.medium.com/v2/resize:fit:1400/format:webp/1*ZK9_HrpP_lhSzTq9xVJUQw.png)
****

## Introduction
The Iris flower data set or Fisher's Iris data set is one of the most well-known and commonly used datasets in the field of machine learning and statistics.
The Iris flower data set is a multivariate dataset introduced by the British statistician and biologist Ronald Fisher in his 1936 paper The use of multiple measurements in taxonomic problems.The Iris dataset consists of 150 samples of iris flowers from three different species: Setosa, Versicolor, and Virginica.  Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters. Based on the combination of these four features, Fisher developed a linear discriminant model to distinguish the species from each other.
****

## Libraries:

In [11]:
# Data frames 
import pandas as pd
#Numerical arrays and random numbers
import numpy as np 
#Plot
import matplotlib.pyplot as plt
#statistical data visualization
import seaborn as sns

****

## Iris: overview of the dataset and variables.

In [12]:
# Load the iris dataset.

df = pd.read_csv('IrisDataset.csv')

In [13]:
#Let's have a look of the daset overall
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
df.shape # shows number of rows and columns

(150, 5)

In [15]:
# Look at the first row
df.iloc[0]

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 0, dtype: object

In [16]:
# Describe the data set.
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

****

## Charts and Histograms